<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="modules" type="Prism.Modularity.ModulesConfigurationSection, Prism.Wpf"/>
	</configSections>
	<modules>
		<!--注册PatientModule模块-->
		<module assemblyFile="Hgtech.Control.PatientModule.dll" moduleType="Hgtech.Control.PatientModule, Hgtech.Control, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="PatientModule" startupLoaded="True" />
		<!--注册MedicineModule模块-->
		<module assemblyFile="Hgtech.Control.MedicineModule.dll" moduleType="Hgtech.Control.MedicineModule, Hgtech.Control, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" moduleName="MedicineModule" startupLoaded="false" />
	</modules>
</configuration>